PyYAML==3.11
argh==0.26.1
backports.ssl-match-hostname==3.4.0.2
docutils==0.12
lockfile==0.11.0
pathtools==0.1.2
pbr==0.11.0
python-daemon==2.0.6
requests==2.8.1
six==1.10.0
slackclient==0.16
watchdog==0.8.3
websocket-client==0.32.0
wsgiref==0.1.2
