PyYAML==3.11
argh==0.26.1
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.4.1
croniter==0.3.8
docutils==0.12
lockfile==0.11.0
pathtools==0.1.2
pbr==0.11.0
python-crontab==1.9.3
python-daemon==2.0.6
python-dateutil==2.4.2
requests==2.8.1
six==1.10.0
slackclient==0.16
watchdog==0.8.3
websocket-client==0.32.0
wsgiref==0.1.2
youtube-dl==2016.01.01
